services:
#    lw_louvre.example:
#        class: LW\LouvreBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]
#lien service pour vérifier la disponibilité de la date
    lw_louvre.checkdate:
        class: LW\LouvreBundle\Services\lwCheckdate
        arguments:
        - "@doctrine.orm.entity_manager"
#lien service pour calculer les tarif
    lw_louvre.tarifDate:
        class: LW\LouvreBundle\Services\LWtarifDate
#permet de taguer le service checkdate
#lw_louvre.CheckdateExtension:
 #       class: LW\LouvreBundle\Twig\CheckdateExtension
        

