parameters:
    stripe_public_key: sk_test_MgZ8tjk4OcFvwrkTCP9NHmji
services:
#    lw_louvre.example:
#        class: LW\LouvreBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]
#lien service pour vérifier la disponibilité de la date
    louvre.checkdate:
        class: LW\LouvreBundle\Services\CheckDate
        arguments:
        - "@doctrine.orm.entity_manager"
#lien service pour calculer les tarif
    louvre.tarifDate:
        class: LW\LouvreBundle\Services\TarifDate
#service pour envoyer par mail les billets
    louvre.sendOrders:
       class: LW\LouvreBundle\Services\SendOrders
       arguments:
        - "@mailer"
        - %locale%
    sold_days_validator:
        class: LW\LouvreBundle\Validators\SoldDaysConstraintValidator
        arguments:
            - "@doctrine.orm.entity_manager"
        tags:
            - name: validator.constraint_validator
    louvre_louvre.stripe:
        class: LW\LouvreBundle\Services\StripeService
        arguments: ['%stripe_public_key%']

